.box1{
  width: 200px;
  height: 100px;
  text-align: center;
  float: left;
}
.box2{
  width: 200px;
  height: 100px;
  text-align: center;
  float: left;
}
.box3{
  width: 200px;
  height: 100px;
  text-align: center;
  float: left;
}
.box4{
  width: 200px;
  height: 100px;
  text-align: center;
  float: left;
}
.box5{
  width: 200px;
  height: 100px;
  text-align: center;
  float: left;
}
h2{
  font-family: 'Lobster', cursive;
  color:grey;
}
p{
  margin: 5px;
  color: #A4A4A4;
  font-family: 'Pacifico', cursive;
}
i{
  color: lightgrey;
}
